<section class="bg-light">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-5 mt-5">
				<div class="card mb-3">
					{% set foto = 'img/juego/' ~ juego.foto %}
					<img class="card-img img-fluid" alt="Card image cap" id="product-detail" src="{{foto}}"/>
				</div>
			</div>
			<div class="col-lg-7 mt-5">
				<div class="card">
					<div class="card-body">
						<h1 class="h2 titulo">{{juego.nombre}}</h1>
						<ul class="list-inline">
							<li class="list-inline-item">
								<h6>Plataforma:</h6>
							</li>
							<li class="list-inline-item">
								<p class="text-muted plataforma">
									<strong>{{juego.plataforma}}</strong>
								</p>
							</li>
						</ul>

						<h6>Descripcion:</h6>
						<p class="text-muted descripcion">
							{{juego.descripcion}}
						</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<h6>Desarrolladora:</h6>
							</li>
							<li class="list-inline-item">
								<p class="text-muted desarrolladora">
									<strong>{{juego.desarrolladora}}</strong>
								</p>
							</li>
						</ul>
						<ul class="list-inline">
							<li class="list-inline-item">
								<h6>Género:</h6>
							</li>
							<li class="list-inline-item">
								<p class="text-muted genero">
									<strong>{{juego.generos}}</strong>
								</p>
							</li>

						</ul>

						<ul class="list-inline">
							<li class="list-inline-item">
								<h6>Rango de edad:</h6>
							</li>
							<li class="list-inline-item">
								<p class="text-muted rangoEdad">
									<strong>{{juego.rango}}</strong>
								</p>
							</li>
						</ul>

						{% if juego.video|length > 0 %}
							<ul class="list-inline">
								<li class="list-inline-item">
									<h6>Trailer:</h6>
								</li>
								<div class="col-12">
									<a href="#">
										{% set video = 'videos/' ~ juego.video %}
										<video class="card-img img-fluid" controls>
											<source src="{{video}}" type="video/mp4"/>
										</video>
									</a>
								</div>
							</ul>
						{% endif %}

						<div class="row pb-3">
							<div class="col d-grid">
								<button id="alquilar" type="submit" class="btn btn-success btn-lg" name="submit" value="buy">
									Alquilar
									{{juego.precio}}
								</button>
							</div>
							<div class="col d-grid">
								<button type="submit" id="volver" class="btn btn-success btn-lg">
									Volver
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="modalReserva" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5">Alquilar</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h2 id="tituloJuego" class="h2"></h2>
            <hr />
            <div class="col-sm-6">
              <p id="plataformaJuego"></p>
            </div>
            <div class="col-sm-6">
              <p id="parrafoPrecio">Precio por día: <span id="precioJuego"></span></p>
            </div>
          </div>
        </div>
        <form id="reservaForm" name="reservaForm">
          <div class="form-group row">
            <label for="fecha_inicio" class="col-md-4 col-form"
              >Fecha de inicio:</label
            >
            <div class="col-md-8 col-sm-12 mb-2">
              <input
                id="fecha_inicio"
                name="fecha_inicio"
                type="date"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="fecha_fin" class="col-md-4 col-form"
              >Fecha de fin:</label
            >
            <div class="col-md-8 col-sm-12 mb-2">
              <input
                id="fecha_fin"
                name="fecha_fin"
                type="date"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="totalPrecio" class="col-md-4 col-form">Precio total:</label>
            <div class="col-md-8 col-sm-12 mb-2">
             <p id="totalPrecio"></p>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group row">
              <div class="col-md-12">
                <button
                  type="submit"
                  id="Alquilar"
                  name="alquilar"
                  class="btn btn-primary boton"
                >
                  Alquilar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
