<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="w-100 pt-1 mb-5 text-right">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
		</div>
		<form action="" method="get" class="modal-content modal-body border-0 p-0">
			<div class="input-group mb-2">
				<input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Buscar..."/>
				<button type="submit" class="input-group-text bg-success text-light">
					<i class="fa fa-fw fa-search text-white"></i>
				</button>
			</div>
		</form>
	</div>
</div>

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
	<ol class="carousel-indicators">
		<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
		<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
		<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="container">
				<div class="row p-5">
					<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
						<img class="img-fluid" src="{{asset('img/foto2.jpg')}}" alt=""/>
					</div>
					<div class="col-lg-6 mb-0 d-flex align-items-center">
						<div class="text-align-left align-self-center">
							<h1 class="h1 text-success">
								<b>AlquiGame</b>
							</h1>
							<h3 class="h2">Juega más por menos</h3>
							<p>
								AlquiGame es una nueva tienda en la que podrás alquilar
								                    juegos de todas las plataformas para poder disfrutar de
								                    ellos sin gastar dinero de más.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container">
				<div class="row p-5">
					<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
						<img class="img-fluid" src="{{asset('img/foto1.jpg')}}" alt=""/>
					</div>
					<div class="col-lg-6 mb-0 d-flex align-items-center">
						<div class="text-align-left">
							<h1 class="h1">Tú pones las reglas</h1>
							<h3 class="h2">Un servicio a tu medida</h3>
							<p>
								Desde AlquiGame nos adaptamos a ti. Con nuestros alquileres
								                    tu escoges cuantos días quieres disponer del juego.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container">
				<div class="row p-5">
					<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
						<img class="img-fluid" src="{{asset('img/foto3.jpg')}}" alt=""/>
					</div>
					<div class="col-lg-6 mb-0 d-flex align-items-center">
						<div class="text-align-left">
							<h1 class="h1">La mayor variedad de juegos</h1>
							<h3 class="h2">Encuentra cualquier juego</h3>
							<p>
								Contamos con el mayor catálogo de juegos del mercado teniendo juegos de todas las plataformas
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
		<i class="fas fa-chevron-left"></i>
	</a>
	<a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
		<i class="fas fa-chevron-right"></i>
	</a>
</div>
<!-- End Banner Hero -->

<!-- Start Categories of The Month -->
<section class="container py-5">
	<div class="row text-center pt-3">
		<div class="col-lg-6 m-auto">
			<h1 class="h1">Géneros del mes</h1>
			<p>
				¿Quieres jugar los géneros que son tendencias en el mes? Aquí tienes
				            los tienes.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4 p-5 mt-3">
			<a href="#"><img src="{{asset('img/foto6.jpg')}}" class="rounded-circle img-fluid border"/></a>
			<h5 class="text-center mt-3 mb-3">Deportes</h5>
			<p class="text-center">
				<a class="btn btn-success">Ver más</a>
			</p>
		</div>
		<div class="col-12 col-md-4 p-5 mt-3">
			<a href="#"><img src="{{asset('img/foto4.jpg')}}" class="rounded-circle img-fluid border"/></a>
			<h2 class="h5 text-center mt-3 mb-3">Acción</h2>
			<p class="text-center">
				<a class="btn btn-success">Ver más</a>
			</p>
		</div>
		<div class="col-12 col-md-4 p-5 mt-3">
			<a href="#"><img src="{{asset('img/foto5.jpg')}}" class="rounded-circle img-fluid border"/></a>
			<h2 class="h5 text-center mt-3 mb-3">Estrategia</h2>
			<p class="text-center">
				<a class="btn btn-success">Ver más</a>
			</p>
		</div>
	</div>
</section>
<!-- End Categories of The Month -->
